# Flask Backend Requirements
# For PythonAnywhere with dash pre-installed, use: Flask<3.1, Werkzeug<3.1, cryptography<45

Flask
flask-cors
python-dotenv
SQLAlchemy
Flask-SQLAlchemy
Werkzeug
bcrypt
PyJWT
requests
psycopg2-binary
pyotp
qrcode[pil]
